/** @format */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');

body {
  background: black;
  text-align: center;
  color: #fff;
  padding-top: 10em;

  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;

  min-height: 100vh;
}
